<%- include("head.ejs") %>
<% const { id, titulo, edicao, descricao, ideditora, idpub, ano_publicacao, nome_edicao } = row; %>
<body>
    <h3> Deletar Registro </h3>

    <form action="/delete_detail/<%= id %>/<%= idpub %>?_method=DELETE" method="POST">

        <!--
            The name attribute is the identifiers that will be sent through the
            HTTP request, while the id are the ones used to identify the HTML
            elements, in this case the id is being used to link the input to
            the label element.

            The label element is used instead of a paragraph in this case to
            make the page more accessible.
        -->

        <div>
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= titulo %>" readonly/>
        </div>

        <div>
        <label for="edicao">Ano da edição</label>
        <input type="text" class="form-control" id="edicao" name="edicao" value="<%= edicao %>" readonly/>
        </div>

        <div>
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" name="descricao" value="<%= descricao %>" readonly/>
        </div>

        <div>
        <label for="ideditora">ID da editora</label>
        <input type="text" class="form-control" id="ideditora" name="ideditora" value="<%= ideditora %>" readonly/>
        </div>

        <br>

        <h4> Detalhes da publicação </h4>

        <br>

        <div>
        <label for="ano_publicacao"> Ano da publicação </label>
        <input type="text" class="form-control" id="ano_publicacao" name="ano_publicacao" value="<%= ano_publicacao %>" readonly/>
        </div>


        <div>
        <label for="nome_edicao"> Nome da publicação </label>
        <input type="text" class="form-control" id="nome_edicao" name="nome_edicao" value="<%= nome_edicao %>" readonly/>
        </div>

        <br>

        <input type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que quer apagar o detalhe?')" value="Deletar detalhe"/>
        <input type="submit" formaction="/delete_all/<%= id %>?_method=DELETE" class="btn btn-danger" onclick="return confirm('Tem certeza que quer apagar TODOS os detalhe deste livro?')" value="Deletar TUDO"/>
        <a href="/" class="btn btn-outline-primary ">Voltar</a>

    </form>

 </body>

 <%- include("foot.ejs") %>
