<%- include("head.ejs") %>
<body>
    <h3> Registros </h3>
    <br>

    <p> Registros das duas tabelas relacionadas: livros (mestre) e publicações
    (detalhe). Cada livro pode ter múltiplas publicações associadas que estão
    na tabela secundária: publicações.</p> 

    <br>

    <div class="form-group">
    <table class="table table-hover">
    <thead>
    <tr>
        <th> ID </th>
        <th> Título </th>
        <th> Edição </th>
        <th> Descrição </th>
        <th> Ano da publicação </th>
        <th> Nome da edição </th>
        <th class="d-print-none">  
        <a class="btn btn-sm btn-success" href="/insert_primary">Novo registro</a>  
        </th>  
    </tr>
    </thead>
    <tbody>

    <% for (const row of data) { %>
            <% const {id, titulo, edicao, descricao, ideditora, ano_publicacao, nome_edicao, idpub} = row; %>
          <tr>
              <td> <%= id %> </td>
              <td> <%= titulo %> </td>
              <td> <%= edicao %> </td>
              <td> <%= descricao %> </td>
              <td> <%= ano_publicacao %> </td>
              <td> <%= nome_edicao %> </td>
              <td class="d-print-none">  
                  <a class="btn btn-sm btn-info" href="/insert_detail/<%= id %>">Incluir</a>  
                  <a class="btn btn-sm btn-warning" href="/edit/<%= id %>/<%= idpub %>">Editar</a>  
                  <a class="btn btn-sm btn-danger" href="/delete/<%= id %>/<%= idpub %>">Deletar</a>  
              </td>  
          </tr>
    <% } %>

    </tbody>
    </table>
    </div>
 </body>  

 <%- include("foot.ejs") %>
