<%- include("head.ejs") %>
<body>
    <h3> Registros </h3>
    <br>

    <p> Registros das duas tabelas relacionadas (livros e publicações).</p>

    <br>

    <div class="form-group">
    <table class="table table-hover">
    <thead>
    <tr>
        <th> id </th>
        <th> titulo </th>
        <th> edicao </th>
        <th> descricao </th>
        <th> ideditora </th>
        <th class="d-print-none">  
        <a class="btn btn-sm btn-success" href="/insert_master">Novo registro</a>  
        </th>  
    </tr>
    </thead>
    <tbody>

    <% for (const row of data) { %>
            <% const {id, titulo, edicao, descricao, ideditora, idpub} = row; %>
          <tr>
              <td> <%= id %> </td>
              <td> <%= titulo %> </td>
              <td> <%= edicao %> </td>
              <td> <%= descricao %> </td>
              <td> <%= ideditora %> </td>
              <td class="d-print-none">  
                  <a class="btn btn-sm btn-warning" href="/edit/<%= id %>/<%= idpub %>">Editar</a>  
                  <a class="btn btn-sm btn-danger" href="/delete/<%= id %>/<%= idpub %>">Deletar</a>  
              </td>  
          </tr>
    <% } %>

    </tbody>
    </table>
    </div>
 </body>  

 <%- include("foot.ejs") %>
