<%- include("head.ejs") %>
<% const {id, titulo, edicao, descricao, ideditora, nome_edicao, ano_publicacao, idpub} = row; %>
<body>
    <h3> Incluir Registro Detalhe</h3>

    <hr>
    <br>

    <form action="/insert_detail/<%= id %>" method="post">

        <!--
            The name attribute is the identifiers that will be sent through the
            HTTP request, while the id are the ones used to identify the HTML
            elements, in this case the id is being used to link the input to
            the label element.

            The label element is used instead of a paragraph in this case to
            make the page more accessible.
        -->

        <h4> Registro principal do livro </h4>

        <div>
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= titulo %>" readonly/>
        </div>

        <div>
        <label for="edicao">Ano da edição</label>
        <input type="text" class="form-control" id="edicao" name="edicao" value="<%= edicao %>" readonly/>
        </div>

        <div>
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" name="descricao" value="<%= descricao %>" readonly/>
        </div>

        <div>
        <label for="ideditora">ID da editora</label>
        <input type="text" class="form-control" id="ideditora" name="ideditora" value="<%= ideditora %>" readonly/>
        </div>

        <br>

        <h4> Detalhes da publicação </h4>

        <br>
        
        <div>
        <label for="ano_publicacao"> Ano da publicação </label>
        <input type="text" class="form-control" id="ano_publicacao"  name="ano_publicacao" value=""/>
        </div>


        <div>
        <label for="nome_edicao"> Nome da publicação </label>
        <input type="text" class="form-control" id="nome_edicao" name="nome_edicao" value=""/>
        </div>

        <br>

        <input type="submit" class="btn btn-primary" value="Inserir"/>
        <a href="/" class="btn btn-outline-primary ">Voltar</a>  

    </form>

 </body>  

 <%- include("foot.ejs") %>
